/payload_loader/test/Debug
/payload_loader/test/Release
/payload_loader/test/x64
/payload_loader/Release
/payload_loader/Debug
/payload_loader/.vs
/payload_loader/x64
/payload_loader/Loader/Release
/payload_loader/Loader/x64
/payload_loader/Stack/Release
/payload_loader/Stack/x64
/payload_loader/Stack/Debug
